body {
	background-color: #f0f0f0;
	margin: 0;
}

nav {
	display: flex;
	justify-content: flex-end;
	font-family: 'Roboto', sans-serif;
	margin-right: 2%;
}

a {
	margin: 2%;
	text-decoration: none;
	color: #7F010B;
	font-size: 16px;
	font-weight: 400;
}	

a:hover {
	text-decoration: underline;
	color: black;
	font-weight: 400;
}

h1 {
	font-family: mrs-eaves-xl-serif,serif;
	margin-bottom: 3%;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 7%;
}

#closeness {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	width: 380px;
	margin-top: 2%;
}

.set {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 10%;
}

label {
	font-family: mrs-eaves-xl-serif,serif;
	font-size: 18px;
}

#guess {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	width: 263px;
}


.testGuess {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

#counter {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin-top: 2%;
	width:297px;

}