html {
	min-height:100%;
	width: 100%;
}

body {
	margin: 0;
	padding-bottom: 3%;
	background-color: #f0f0f0;
}

nav {
	display: flex;
	justify-content: flex-end;
	margin-right: 2%;
}

a {
	margin: 2%;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	color: #7F010B;
	font-size: 16px;
	font-weight: 400;
}	

a:hover {
	text-decoration: underline;
	color: black;
	font-weight: 700;
}

#home {
	vertical-align: middle;
	margin-top: 7%;
	margin-left: 2%
}

p {
	font-family: 'Roboto', sans-serif;
	max-width: 66%;
}

hr {
	border: 0.5px solid #7F010B;
	max-width: 3%;
	margin-left: 0;
	margin-top: 0;
}

h1 {
	font-family: mrs-eaves-xl-serif,serif;
	font-style: italic;
	font-weight: 600;
	margin-bottom: 0;
	font-size: 34px;
}


#home_heading {
	margin-bottom: 1%;
	font-style: italic;
	margin-top: 0px;
	padding-bottom: 0px;
}

h2 {
	font-family: mrs-eaves-xl-serif,serif;
	font-weight: 400;
	font-size: 24px;
	font-style: italic;

}

#me {
	width: 100px;
	border-bottom-left-radius: 30%;
	border-bottom-right-radius: 50%;
	margin-bottom: 1%;
}

#container {
	display: flex;
}

.container2 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 7%;
}

#content {
	margin-top: 1.5%;
	margin-left: 15%;
	display: flex;
	flex-direction: column;
}

#closeness {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	width: 380px;
	margin-top: 2%;
}

.set {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 10%;
}

label {
	font-family: mrs-eaves-xl-serif,serif;
	font-style: italic;
	font-size: 18px;
}

#guess {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	width: 263px;
}


.testGuess {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

#picture_2 {
	margin: 2%;
	display: flex;
	flex-direction: column;
}

.blog_image {
	max-width: 66%;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	margin-top: 2%;
	margin-bottom: 1%;
	font-size: 18px;
}

.current-page{
	font-weight: 700;
	color: black;
	font-size: 18px;
	text-decoration: underline;
}

#counter {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin-top: 2%;
	width:297px;
}

.top {
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 10%;
}

.post {
	margin-top: 3%;
}

#ref_link{
	margin: 0;
	padding: 0;
}

@media (max-width: 768px){
	nav {
		justify-content: space-around;
		margin-bottom: 5%;
	}

	p {
		max-width: 90%;
	}

	#content {
		margin-left: 7%;	
	}

	.blog_image {
		max-width: 90%;
	}

	#picture_2 {
		display: none;
	}
}
