html {
	min-height:100%;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-image: linear-gradient(#f0f0f0, #f0f0f0, #f0f0f0, #f0f0f0, #bab6b6);
}

nav {
	display: flex;
	justify-content: flex-end;
	font-family: 'Roboto', sans-serif;
	margin-right: 2%;
}

a {
	margin: 2%;
	text-decoration: none;
	color: #7F010B;
	font-size: 16px;
	font-weight: 400;
}	

a:hover {
	text-decoration: underline;
	color: black;
	font-weight: 700;
}

#home {
	vertical-align: middle;
	margin-top: 7%;
	margin-left: 2%
}

p{
	font-family: 'Roboto', sans-serif;
	max-width: 66%;
}

hr {
	border: 0.5px solid #7F010B;
	max-width: 3%;
	margin-left: 0;
	margin-top: 0;
}

h2 {
	margin-bottom: 2%;
	font-family: mrs-eaves-xl-serif,serif;
	font-weight: 600;
	font-style: italic;
	font-size: 28px;
	margin-top: 0px;
	padding-bottom: 0px;
}

h3 {
	font-family: mrs-eaves-xl-serif,serif;
	font-weight: 400;
	font-size: 18px;
	font-style: italic;

}

#me {
	width: 100px;
	border-bottom-left-radius: 30%;
	border-bottom-right-radius: 50%;
	margin-bottom: 1%;
}

#me_p1 {
	width: 100px;
	border-bottom-left-radius: 30%;
	border-bottom-right-radius: 50%;
	margin-bottom: 1%;
}

#container {
	display: flex;
}

#content {
	margin-top: 1.5%;
	margin-left: 15%;
	display: flex;
	flex-direction: column;
}

#picture_2 {
	margin: 2%;
	display: flex;
	flex-direction: column;
}

.blog_image {
	max-width: 66%;
}

#bold {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	margin-top: 2%;
}